section.post-page
  .title-bar
    h1 #{ page.title }
    .post-info
      span #{ time(page.date, 'YYYY-MM-DD HH:mm:ss') }
      if page.tags
        span.tags
          each tag in page.tags.data
            a(href=url_for(tag.path)) ##{ tag.name }
  -
    const filterImgContent = page.content.replace(/<p>(<img [^>]*alt="([^"]+)"[^>]*>)<\/p>/g, '<p style="text-align: center;">' + '$1' + '<span>$2</span>' + '</p>');
  article 
    if page.photos && page.photos.length
      .post-gallery
        each photo in page.photos
          img(src=url_for(photo))
    .content !{ filterImgContent }
  if theme.copyright.enable
    include ./partial/copyright.pug
  .post-pager
    .prev
      if page.prev
        a(href=url_for(page.prev.path), title=page.prev.title) Previous: #{ page.prev.title }
    .next 
      if page.next
        a(href=url_for(page.next.path), title=page.next.title) Next: #{ page.next.title }
  include ./partial/comment.pug
